# IDEs
.claude
.vscode
.idea
.cursor*

# Env files
*.env
*.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Node modules
node_modules

# Build output
dist/
build

# Test coverage
coverage/

# MacOS
.DS_Store

# Local development
dev/

CLAUDE.md
