version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: shinzo-backend
    env_file: ./backend/.env
    ports:
      - "${BACKEND_PORT:-8000}:${BACKEND_PORT:-8000}"
      - "${OTEL_GRPC_PORT:-4317}:${OTEL_GRPC_PORT:-4317}"
      - "${OTEL_HTTP_PORT:-4318}:${OTEL_HTTP_PORT:-4318}"
    volumes:
      - ./backend/src:/app/src
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: shinzo-frontend
    depends_on:
      - backend
    env_file: ./frontend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    restart: always

